body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}
#i1{ 
    display: inline-block;
    transition: all;
}
.nav1{
    display: inline-block;
}
.a1{
    display: inline-block;
     word-spacing: 10px; 
    padding-left: 15px;
    /* font-size: x-large; */
}
.a2{
    text-decoration: none;
    color: gray;
    /* width: 100%; */
    font-weight: bolder;
}
input:focus{
    width: 400px; 
     /* height: 40px;  */
    background-color: yellowgreen;
    font-weight: bolder;
    }
    #r2{
        color: aqua;
        background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_India.png);
    }
.r1{
    width: 400px;
    height: 20px;
    border-radius: 10px;
    border-color: rgba(255, 0, 0, 0.617);
}
.img1{
    padding-top: 30px;
}
.a3{
    display: inline-block;
}
#i500{
    transition: box-shadow 0.5s ease, tranform 0.5 ease;
    text-shadow: 0 5px 15px rgba(216, 50, 4, 0.891);
     border-radius: 35px;

}
#i500:hover{
    text-shadow: 0 5px 15px rgba(208, 3, 231, 0.894);
    transform: scale(1.1);

}
h1 {
    text-align: center;
}
.a4{
    padding-left: 40px;
   
    
}
.c100{
    transition: box-shadow 0.5s ease, tranform 0.5 ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.685);
     border-radius: 35px;
}
.c100:hover{
    box-shadow: 0 5px 15px rgba(208, 3, 231, 0.894);
    transform: scale(1.1);
}
p{
    text-align: center; 
    font-size: x-large;
}
h2{
    text-align: center;
    font-size: xx-large;
}
.a5{
    padding-left: 40px;
}
.c99{
    transition: box-shadow 0.5s ease, tranform 0.5 ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.685);
     border-radius: 35px;
}
.c99:hover{
    box-shadow: 0 5px 15px rgba(208, 3, 231, 0.894);
    transform: scale(1.1);
}

#i1{
    font-size: x-large;
    text-align: center;
}
h3{
    text-align: center;
    font-size: xx-large;
}
.a6{
    padding-left: 40px;
    margin-left: 10px;
}
 .c100{
    transition: transform 0.8s ease, box-shadow 0.6s ease;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2) ;
}
.c100:hover{
    box-shadow: 0 15px 30px rgba(231, 3, 177, 0.894);
    transform: scale(1.1);
} 
.a7{
    padding-left: 40px;
}
.c101{
    transition: box-shadow 0.5s ease, tranform 0.5 ease;
    box-shadow: 0 5px 15px rgba(5, 205, 246, 0.901);
     border-radius: 20px;
}
.c101:hover{
    box-shadow: 0 5px 15px rgba(2, 174, 247, 0.991);
    transform: scale(1.1);
}
.a8{
    padding-left: 60px;
}
.a9{
    padding-left: 70px;
}
h4{ 
    padding-left: 40px;
    font-size: xx-large;
}
#p1{
    text-align: left;
    padding-left: 40px;
}
.a10{
    display: flex;
     /* background-color: rgba(0, 0, 0, 0.392);  */
}
.a11 { display: inline-block;
    text-decoration: none;
    text-align: left;}
.a12{
    display: inline-block;
    /* padding-left: 120px; */
    /* margin-bottom: 100px; */
    /* align-items: center; */
}
.a13{
    display: inline-block;
    /* padding-left: 80px; */
}
