body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}
#i1{ 
    display: inline-block;
}
.nav1{
    display: inline-block;
}
.a1{
    display: inline-block;
     word-spacing: 10px; 
    padding-left: 15px;
    /* font-size: x-large; */
}
.a2{
    text-decoration: none;
    color: gray;
    /* width: 100%; */
    font-weight: bolder;
}
input:focus{
    width: 300px; 
     /* height: 40px;  */
    background-color: yellowgreen;
    font-weight: bolder;
}
.r1{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border-color: red;
}
.img1{
    padding-top: 50px;
}
.a3{
    display: inline-block; 
}
.a8{
    padding-left: 60px;
}
h3{
    text-align: center;
    font-size: xx-large;
}
p{
    text-align: center; 
    font-size: x-large;
}
.a6{
    padding-left: 30px;
}
 .a5{ 
    padding-left: 80px;
}
.a9{
    padding-left: 70px;
}
h4{
    padding-left: 40px;
    font-size: xx-large;
    text-align: center;
}
.a10{
    display: flex;
     /* background-color: rgba(0, 0, 0, 0.392);  */
}
.a11 { display: inline-block;
    text-decoration: none;
    text-align: left;}
.a12{
    display: inline-block;
    /* padding-left: 120px; */
    /* margin-bottom: 100px; */
    /* align-items: center; */
}
.a13{
    display: inline-block;
    /* padding-left: 80px; */
}